@using Microsoft.AspNetCore.Http
@using System
@inject IHttpContextAccessor Accessor
@model IEnumerable<MVC_CRUD.Models.Item>
@{
    ViewData["Title"] = "Home Page";
}

@*<script type="text/javascript">
        function addToCart(item) {
            var itemid = $(item).attr("itemid");
            var products = [];
            products.push(itemid);
            $.cookie('cart', products);
        }
    </script>*@

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card text-center h-100">
                    <div class="card-header">
                        <img src="@("~/img/" + @item.ImageName)" asp-append-version="true" class="card-img-top" alt="@item.Title, @item.Desc">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@item.Title</h4>
                        <p>@item.Desc</p>
                    </div>
                    <div class="card-footer">
                        <h5>@item.Price руб</h5>
                        <hr />
                        <h6>@item.Qty шт</h6>
                        @if (item.Qty > 0)
                        {
                            <form method="post" action="@Url.Action("Add", "Home", new {itemid = item.ID})">
                                <div class="input-group">
                                    <input name="qty" type="number" min="1" max="@item.Qty" class="form-control" placeholder="Количество" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                    <button class="btn btn-success" type="submit" id="button-addon1">В корзину</button>
                                </div>
                            </form>

                        }
                        else
                        {
                            <button class="btn btn-danger" disabled>Раскупили...</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>