@model IEnumerable<Item>
@{
    int sum = 0;
}

<h1>Всё верно?</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            sum += item.Price * item.Qty;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) руб
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Итого: @sum руб</h2>
<a class="btn btn-success" href="@Url.Action("SaveOrder", "Checkout")">Оформить</a>

@*@using (Html.BeginForm())
{
    <input class="btn btn-primary" asp-controller="Checkout" asp-action="SaveOrder" type="submit" value="Оформить" />

}*@
@*<input class="btn btn-primary" asp-controller="Auth" asp-action="Enter" type="submit" value="Войти!" />*@
